<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="MemberDTO" type="in.spring.project.member.dto.MemberDTO"/>
		<typeAlias alias="PostDTO" type="in.spring.project.post.dto.PostDTO"/>
		<typeAlias alias="ReplyDTO" type="in.spring.project.reply.dto.ReplyDTO"/>
	</typeAliases>
	
	
	
</configuration>